@-webkit-keyframes show-menu-item {
  0% {
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg); }
  100% {
    opacity: 1;
    transform: rotate3d(0, 1, 0, 0deg); } }

@-moz-keyframes show-menu-item {
  0% {
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg); }
  100% {
    opacity: 1;
    transform: rotate3d(0, 1, 0, 0deg); } }

@-ms-keyframes show-menu-item {
  /* line 4, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/keyframes.scss */
  0% {
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg); }
  /* line 8, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/keyframes.scss */
  100% {
    opacity: 1;
    transform: rotate3d(0, 1, 0, 0deg); } }

@-o-keyframes show-menu-item {
  0% {
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg); }
  100% {
    opacity: 1;
    transform: rotate3d(0, 1, 0, 0deg); } }

@keyframes show-menu-item {
  0% {
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg); }
  100% {
    opacity: 1;
    transform: rotate3d(0, 1, 0, 0deg); } }

@font-face {
  font-family: "Oswald";
  src: url("https://fonts.googleapis.com/css?family=Oswald.eot?") format("eot"), url("https://fonts.googleapis.com/css?family=Oswald.woff2") format("woff2"), url("https://fonts.googleapis.com/css?family=Oswald.woff") format("woff"), url("https://fonts.googleapis.com/css?family=Oswald.ttf") format("truetype"), url("https://fonts.googleapis.com/css?family=Oswald.svg#Oswald") format("svg"); }

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto.eot?") format("eot"), url("https://fonts.googleapis.com/css?family=Roboto.woff2") format("woff2"), url("https://fonts.googleapis.com/css?family=Roboto.woff") format("woff"), url("https://fonts.googleapis.com/css?family=Roboto.ttf") format("truetype"), url("https://fonts.googleapis.com/css?family=Roboto.svg#Roboto") format("svg"); }

/* line 8, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
* {
  font-family: Oswald;
  color: black; }

/* line 12, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
img {
  width: 100%;
  height: auto; }

/* line 17, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
p {
  color: #808080;
  font-size: 1rem;
  font-family: Roboto; }

/* line 22, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
h5 {
  font-family: Oswald;
  font-size: 30px;
  text-transform: uppercase; }

/* line 27, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.bg-black {
  background-color: #808080 !important; }

/* line 30, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
a .link {
  color: #cd880e !important;
  font-family: Oswald !important;
  text-transform: uppercase;
  font-size: 20px;
  border: 2px solid #cd880e;
  width: 40%;
  padding: 5px;
  text-align: center;
  margin-top: 20px; }

/* line 41, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
a .link:hover {
  color: white;
  background-color: #cd880e; }

/* line 47, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.index h5 {
  font-size: 60px; }

/* line 51, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.slider {
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vw);
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll; }

/* line 59, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.carousel {
  position: relative !important; }

/* line 62, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.carousel-caption {
  text-align: left;
  padding-bottom: 130px !important; }
  /* line 65, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .carousel-caption p {
    text-align: left !important;
    font-size: 1rem;
    font-family: Roboto;
    color: white !important; }
  /* line 71, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .carousel-caption a {
    font-size: 1.5rem !important;
    color: #313335 !important;
    padding: 10px 40px;
    background-color: #cd880e;
    border: 2px solid #cd880e !important;
    font-family: Oswald !important;
    text-transform: uppercase; }
  /* line 80, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .carousel-caption a:hover {
    font-size: 1.5rem !important;
    color: white !important;
    padding: 10px 40px;
    background-color: transparent;
    border: 2px solid white !important;
    font-family: Oswald !important;
    text-transform: uppercase; }

/* line 91, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.carousel-control-prev-icon {
  background-image: url(../img/icons/back.png);
  width: 30px;
  height: 30px; }

/* line 96, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.carousel-control-next-icon {
  background-image: url(../img//icons/next.png);
  width: 30px;
  height: 30px; }

/* line 101, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch; }

/* line 110, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.card-deck {
  width: 90%;
  margin-top: 30px; }
  /* line 113, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .card-deck h5 {
    font-size: 35px; }
  /* line 116, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .card-deck p {
    margin-bottom: 10px; }
  /* line 119, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .card-deck .card {
    border: 1px solid rgba(0, 0, 0, 0.25); }
  /* line 122, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .card-deck i {
    margin-right: 10px;
    margin-left: 10px; }

/* line 133, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.nav-item {
  width: 1.5rem;
  margin-left: 1rem; }
  /* line 137, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .nav-item a {
    padding: 0px;
    border: 0; }
  /* line 143, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .nav-itemhover img {
    color: white; }
  /* line 148, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .nav-item img {
    max-height: 1.5rem;
    display: block; }

/* line 153, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
#open-menu, #close-menu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 1000; }
  /* line 161, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  #open-menu:hover, #close-menu:hover {
    cursor: pointer; }
    /* line 163, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
    #open-menu:hover .line, #close-menu:hover .line {
      background-color: white; }
  /* line 168, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  #open-menu .line, #close-menu .line {
    width: 1.5rem;
    height: 0.15rem;
    background-color: #cd880e; }

/* line 174, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
#main-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  z-index: 999; }
  /* line 189, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  #main-menu #close-menu {
    position: absolute;
    top: 1.1rem;
    right: 1rem;
    z-index: 1000; }
    /* line 195, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
    #main-menu #close-menu .line {
      background-color: white;
      transform-origin: 50% 50%; }
      /* line 198, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
      #main-menu #close-menu .line:nth-child(1) {
        transform: rotate(45deg) translate(38%); }
      /* line 201, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
      #main-menu #close-menu .line:nth-child(2) {
        transform: rotate(-45deg) translate(34%); }
  /* line 207, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  #main-menu .container {
    margin: 0;
    padding: 0;
    max-width: none; }
  /* line 213, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  #main-menu .item {
    padding-top: 14.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    transform: rotate3d(0, 0, 0, 90deg) translateY(0%);
    animation: 1s linear show-menu-item;
    animation-fill-mode: forwards;
    opacity: 0; }
    /* line 227, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
    #main-menu .item:nth-child(1) {
      background-color: #111110;
      animation-delay: 0.25s; }
    /* line 231, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
    #main-menu .item:nth-child(2) {
      background-color: #615d55;
      animation-delay: 0.5s; }
    /* line 235, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
    #main-menu .item:nth-child(3) {
      background-color: #cd880e;
      animation-delay: 0.75s; }
    /* line 239, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
    #main-menu .item:nth-child(4) {
      background-color: #f57105;
      animation-delay: 1s; }
    /* line 243, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
    #main-menu .item:nth-child(5) {
      background-color: #262b51;
      animation-delay: 1.25s; }
    /* line 248, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
    #main-menu .item li {
      list-style-type: none; }
  /* line 253, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  #main-menu a {
    color: white;
    font-size: 1rem;
    font-family: Oswald; }
    /* line 258, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
    #main-menu a.menu-title {
      font-size: 1.3rem;
      text-align: center;
      margin-bottom: 1.5rem; }

/* line 267, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.people card-img-top {
  height: 356px; }

/* line 271, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.personajes {
  /*background-color: #232323;*/ }
  /* line 273, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .personajes h5 {
    /*color: white;*/
    font-size: 30px; }
  /* line 278, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .personajes p {
    /*color: white;*/ }

/* line 282, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.eventos {
  height: auto;
  flex: 0 0 33.333333%;
  max-width: 33.3%;
  position: relative;
  width: 100%; }

/* line 290, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
.eventos-item {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch; }
  /* line 299, /home/sdtorresl/Programming/HTML5/cine_nuestro/sass/main.scss */
  .eventos-item h5 {
    font-size: 35px; }

/*# sourceMappingURL=main.css.map */