$primary-font: Oswald;
$secondary-font: Roboto;

$primary-color: #cd880e;
$secondary-color: #808080;
$secondary-color-dark: #212121;
$light-color: #FFFFFF;

$menu-color-1: #111110;
$menu-color-2: #615d55;
$menu-color-3: #cd880e;
$menu-color-4: #f57105;
$menu-color-5: #262b51;
