/*------------------------------load------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}



/*-------------------------contenido------------------------------------*/

/*scroll*/


a {
  font-family: 'Oswald', sans-serif;
  color: #262626;
  text-decoration: none;
}

a:hover {
	text-decoration: none;
}


.h-button {
  background: #CD880E;
  padding: 10px 20px;
  width: 250px;
  text-align: center;
  
}
.h-button span {
  color: hsla(0,0%,18%,1.00);
  display: inline-block;
  min-width: 0.3em;
  text-transform: uppercase;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  opacity: 0;
  transform: translate(0, -20px);
}
.h-button:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
  transform: translate(0, 0px);
}
.h-button:hover:before, .h-button:focus:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.h-button:hover span, .h-button:focus span {
  opacity: 1;
  transform: translate(0, 0);
}
.h-button:hover span:nth-child(1), .h-button:focus span:nth-child(1) {
  transition-delay: 0.025s;
}
.h-button:hover span:nth-child(2), .h-button:focus span:nth-child(2) {
  transition-delay: 0.05s;
}
.h-button:hover span:nth-child(3), .h-button:focus span:nth-child(3) {
  transition-delay: 0.075s;
}
.h-button:hover span:nth-child(4), .h-button:focus span:nth-child(4) {
  transition-delay: 0.1s;
}
.h-button:hover span:nth-child(5), .h-button:focus span:nth-child(5) {
  transition-delay: 0.125s;
}
.h-button:hover span:nth-child(6), .h-button:focus span:nth-child(6) {
  transition-delay: 0.15s;
}
.button2 {
  position: relative;
  padding: 20em 15em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  
}

.button.type2 {
  color: #CD880E;
  background-color: transparent;
  font-family: 'Oswald', sans-serif;
	float:right; 
	
}
.button.type2.type2:after, .button.type2.type2:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #CD880E;
  transition: all 0.3s ease;
  transform: scale(0.85);
}
.button.type2.type2:hover:before {
  top: 0;
  transform: scale(1);
}
.button.type2.type2:hover:after {
  transform: scale(1);
}

/*header*/

.general {
	position: absolute;
	width: 100%;
	height: 74px;
}

.contenedor1 {
	width: 100%;
	font-family: 'Oswald', sans-serif;
	background-color: hsla(0,0%,29%,0.50);
}

/*-----------------menu--------------------*/


div .dropdown-menu.show{
	left: -10px;
}
.boton_menu{
	width: 40px;
	
}

.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.2);
  display: none;
  opacity: 0;
}

nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  display: none;
}

nav li a {
  position: relative;
  top: 46%;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0;
}

nav li a:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

nav li a:after {
  content: attr(data-content);
  font-size: 0.7rem;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: transparent;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}

nav li a:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

nav li a:hover:after {
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: #111110
}

nav li:nth-of-type(2) {
  background-color: #615D55
}

nav li:nth-of-type(3) {
  background-color: #CD880E
}

nav li:nth-of-type(4) {
  background-color: #F57105
}

nav li:nth-of-type(5) {
  background-color: #262B51
}


/* ====================================
Burger king
==================================== */

.open-overlay {
  position: absolute;
  right: 1rem;
  top: -3.5rem;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
}

.open-overlay span {
  display: block;
  height: 1px;
  background-color: #CD880E;
  cursor: pointer;
  margin-top: 8px;
}

.animate-top-bar {
  -webkit-animation: animate-top-bar .6s linear 1 both;
  animation: animate-top-bar .6s linear 1 both
}

.animate-bottom-bar {
  -webkit-animation: animate-bottom-bar .6s linear 1 both;
  animation: animate-bottom-bar .6s linear 1 both
}

.animate-middle-bar {
  -webkit-animation: animate-middle-bar .6s linear 1 both;
  animation: animate-middle-bar .6s linear 1 both
}

.animate-out-top-bar {
  -webkit-animation: animate-out-top-bar .6s linear 1 both;
  animation: animate-out-top-bar .6s linear 1 both
}

.animate-out-bottom-bar {
  -webkit-animation: animate-out-bottom-bar .6s linear 1 both;
  animation: animate-out-bottom-bar .6s linear 1 both
}

.animate-out-middle-bar {
  -webkit-animation: animate-out-middle-bar .6s linear 1 both;
  animation: animate-out-middle-bar .6s linear 1 both
}


/* ====================================
Animation keyframes
==================================== */

@-webkit-keyframes animate-top-bar {
  0% {
    background-color: #CD880E;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #CD880E
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color:#CD880E;
  }
}

@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #CD880E
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #CD880E;
  }
}

@-webkit-keyframes animate-bottom-bar {
  0% {
    background-color: #CD880E;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #CD880E;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #CD880E;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #CD880E;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #CD880E;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #CD880E;
  }
}

@-webkit-keyframes animate-middle-bar {
  0% {
    background-color: #CD880E;
  }
  80% {
    background-color: #CD880E;
  }
  100% {
    background-color: #CD880E;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #CD880E;
  }
  80% {
    background-color: #CD880E;
  }
  100% {
    background-color: #CD880E;
  }
}

@-webkit-keyframes animate-out-top-bar {
  0% {
    background-color: #CD880E
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #CD880E
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #CD880E;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #CD880E
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #CD880E
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #CD880E;
  }
}

@-webkit-keyframes animate-out-bottom-bar {
  0% {
    background-color: #CD880E
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #CD880E;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #CD880E;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #CD880E
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #CD880E;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #CD880E;
  }
}

@-webkit-keyframes animate-out-middle-bar {
  0% {
    background-color: #CD880E
  }
  80% {
    background-color: #CD880E;
  }
  100% {
    background-color: #CD880E;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #CD880E
  }
  80% {
    background-color: #CD880E;
  }
  100% {
    background-color: #CD880E;
  }
}

.home a {
  font-family: "Work Sans", sans-serif;
  color: #222;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50px;
  padding-bottom: 3px;
  border-bottom: 1px solid #222;
}

@media (max-width: 640px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav ul li {
    height: 20%;
  }
  nav ul li a {
    font-size: 11px;
  }
  nav li a:after {
    font-size: 0.6rem;
    bottom: -25px;
  }
  nav li a:hover:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 25px;
  }
}

/*-------------------------user---------------------*/

.fa-user{
	font-size: 25px;
	color: #CD880E;
	border-right:solid #808080 1px;
	padding-right: 13px;
	margin-left: 66.5rem;
}

.fa-user:hover{
	font-size: 25px;
	color: #fff;
	border-right:solid #808080 1px;
	padding-right: 20px;
	margin-left: 66.5rem;
}

/*************************************************/
.webmadewell {
  background-color: #242323;
}

.sample-header {
  position: relative;
  left: 0;
  width: 100%;
  height: 10%;
  background-image: url("../img/peliculas/img9.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sample-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #242323;
  opacity: 0.3;
}
.sample-header-section {
  position: relative;
  padding: 15% 12%;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "Oswald", sans-serif;
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}
.sample-section-wrap {
  position: relative;
  background-color: #232323;
}
.sample-section {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  margin-top: 0px;
}

.col-sm-4 h3{
	color: #CD880E;
	font-size: 20px;
	padding-top: .4rem;
}

.col-sm-4 h3 span{
	color: #FFFFFF;
	font-size: 20px;
}

.col-sm-8 h1{
	font-size: 60px;
	margin: 0;
}

.col-sm-8 h3{
	font-size: 25px;
	color: #CE880D;
	margin-top: 25px;
}

.col-sm-8 h2{
	
	margin-bottom: 25px;
}

.col-sm-8 p{
	font-family: 'Roboto', 'Sans-serif';
	font-size: 17px;
	color: #FFFFFF;
	margin-top: 25px;
	margin-bottom: 3rem;
}

.separator {
  margin-top: 46px;
  margin-bottom: -16px;
  border: 0;
}

.separator--line {
  border: 0;
  border-bottom: 1px solid #AEAEAE;
  width: 0;
  -webkit-animation: separator-width 1s ease-out forwards;
          animation: separator-width 1s ease-out forwards;
}

@-webkit-keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.separator--dots {
  overflow: visible;
  border: 0;
  content: "";
  background-color: #AEAEAE;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: relative;
}
.separator--dots:before {
  content: "";
  background-color: #AEAEAE;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  left: -32px;
  -webkit-animation: dot-move-left 1s ease-out forwards;
          animation: dot-move-left 1s ease-out forwards;
}
.separator--dots:after {
  content: "";
  background-color: #AEAEAE;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  left: 32px;
  -webkit-animation: dot-move-right 1s ease-out forwards;
          animation: dot-move-right 1s ease-out forwards;
}

@-webkit-keyframes dot-move-right {
  0% {
    left: 0;
  }
  100% {
    left: 32px;
  }
}

@keyframes dot-move-right {
  0% {
    left: 0;
  }
  100% {
    left: 32px;
  }
}
@-webkit-keyframes dot-move-left {
  0% {
    left: 0;
  }
  100% {
    left: -32px;
  }
}
@keyframes dot-move-left {
  0% {
    left: 0;
  }
  100% {
    left: -32px;
  }
}

.sample-header-section.segundo {
	top: -20rem;
	position:absolute;
	padding: 15% 9%;
	width: 100%;
}

.col-sm-8.tercero {
	top: -6rem;

}

.col-sm-4.cuarto {
	top: -1rem;

}

.col-sm-8.tercero .button{
	top: 5rem;
	font-size: 30px;
	left: 4rem;

}
.col-sm-8.tercero h2{
	top: 5rem;

}

.col-sm-12 h2{
	color: #CD880E;
	text-align: center;
}

.col-sm-12 p{
	color: #FFFFFF;
	text-align: center;
	font-family: 'Roboto', 'Sans-serif';
	font-size: 17px;
}



.col-sm-12 {
	padding-top: 5rem;
}

.col-sm-6 {
	
}

.col-sm-6 h3{
	text-align: center;
}

.col-sm-6 #sexto{
	top: 10rem;
}

@charset "UTF-8";
.rating {
  margin: 50px auto;
  width: 400px;
}
.rating > * {
  float: right;
}
@-webkit-keyframes pulse {
  50% {
    color: #5e5e5e;
    text-shadow: 0 0 15px #777777;
  }
}
@keyframes pulse {
  50% {
    color: #5e5e5e;
    text-shadow: 0 0 15px #777777;
  }
}
.rating label {
  height: 40px;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
}
.rating label:nth-of-type(5):after {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.rating label:nth-of-type(4):after {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.rating label:nth-of-type(3):after {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.rating label:nth-of-type(2):after {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.rating label:nth-of-type(1):after {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.rating label:after {
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: "☆";
  color: #444;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 80px;
  -webkit-animation: 1s pulse ease;
          animation: 1s pulse ease;
}
.rating label:hover:after {
  color: #5e5e5e;
  text-shadow: 0 0 15px #5e5e5e;
}
.rating input {
  display: none;
}
.rating input:checked + label:after,
.rating input:checked ~ label:after {
  content: "★";
  color: #F9BF3B;
  text-shadow: 0 0 20px #F9BF3B;
}

